<div class="login-container">

    <div class="top-icon">
        ✈️
    </div>

    <h1>Bem-vindo de volta</h1>

    <p class="subtitle">
        Entre com suas credenciais para continuar
    </p>

    <form>

        <label>Email</label>
        <div class="input-group">
            <span>✉️</span>
            <input type="email" placeholder="seu@email.com">
        </div>

        <label>Senha</label>
        <div class="input-group">
            <span>🔒</span>
            <input type="password" placeholder="••••••••">
        </div>

        <a href="#" class="forgot-password">
            Esqueceu a senha?
        </a>

        <button type="submit" class="btn-primary">
            Entrar
        </button>

    </form>

    <hr>

</div>